body {
     background-color: rgb(184, 184, 184);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}   


#quiz-container {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
     background-color: rgb(221, 221, 221);
    border: 5px solid #030303;
    border-radius: 50px;

}

#quiz-container h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #1f2122;
    width: 350px;
    
}


#output {
    align-items: center;
    
    text-align: center;
    width: 350px;
}



#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px;
    height: 250px;
    padding-top: 0px;
    
}
.option-btn{
    padding: 10px;
    margin: 5px;
    border: 2px solid;
    width: 250px;
    border-radius: 999px;
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.option-btn:hover {
    background-color: rgb(145, 141, 141);
}




.control-btn {
    padding: 10px;
    margin: 5px;
    border: 2px solid;
    width: 250px;
    border-radius: 999px;
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.control-btn:hover {
  background-color: #45a049;
}
