* {

    margin: 1px;
    padding: 0;

}

.head {
    position: relative;
    right: 35px;
    width: 350px;
    font-size: 1.4rem;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.block {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container { 
    top: 300px;
    left: 200px;
    max-width: 200px;
    height: 160px;
    padding: 100px;
    margin: 20px;
    background-color: rgb(184, 184, 184);
    border: 6px solid;
    border-radius: 800px;
}

input[type=text]{
    position: relative;
    top: 30px;
    width: 90%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background-color: white;
    border-radius: 999px;
    border:  2px solid black;
    
}
button:hover {
    background-color: rgb(119, 119, 119);
}
.btn {
    position: relative;
    top: 20px;
    left:  50px;
    width: 50%;
    border-radius: 999px;
    padding: 10px 25px;
    background-color: white;
    border:  2px solid black;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;

}